<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 border-bottom">
      <h5 class="my-0 mr-md-auto font-weight-normal">Stock prices</h5>
      <div class="container">
          <div class="row">
              <div class="col">
                  <nav class="navbar navbar-expand-md navbar-light bg-light">
                      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                          <form class="form-inline mt-2 mt-md-0 mx-auto" action="/search">
                              <input class="form-control mr-sm-2" type="text" placeholder="Enter ticker of stock..." name="title">
                              <button class="btn btn-primary my-2 my-sm-0" type="submit">Find</button>
                          </form>
                      </div>
                  </nav>
              </div>
          </div>
      </div>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Reload</a>
      </nav>
    </div>
    {% block body %}{% endblock %}
</body>
<body>
    <h1>{{s}}</h1>
</body>
</html>